[backends]
{{- range $s, $stack_name := ls "/stacks" -}}
  {{- range $i, $service_name := ls (printf "/stacks/%s/services" $stack_name) -}}
    {{- if exists (printf "/stacks/%s/services/%s/labels/traefik.enable" $stack_name $service_name) -}}
      {{- $traefik_enable := getv (printf "/stacks/%s/services/%s/labels/traefik.enable" $stack_name $service_name) -}}
      {{- if eq $traefik_enable "true"}}
  [backends.{{$service_name}}__{{$stack_name}}]
    [backends.{{$service_name}}__{{$stack_name}}.circuitbreaker]
      expression = "NetworkErrorRatio() > 0.5"
    [backends.{{$service_name}}__{{$stack_name}}.LoadBalancer]
      method = "drr"
        {{- $service_kind := getv (printf "/stacks/%s/services/%s/kind" $stack_name $service_name) -}}
        {{- if eq $service_kind "service" -}}
          {{- range $i2, $container := ls (printf "/stacks/%s/services/%s/containers" $stack_name $service_name) -}}
            {{- $back_status := getv (printf "/stacks/%s/services/%s/containers/%s/health_state" $stack_name $service_name $container) -}}
            {{- if eq $back_status "healthy" }}
    [backends.{{$service_name}}__{{$stack_name}}.servers.{{getv (printf "/stacks/%s/services/%s/containers/%s/name" $stack_name $service_name $container)}}]
      url = "http://{{getv (printf "/stacks/%s/services/%s/containers/%s/primary_ip" $stack_name $service_name $container) -}}:
              {{- if exists (printf "/stacks/%s/services/%s/labels/traefik.port" $stack_name $service_name) -}}
              {{getv (printf "/stacks/%s/services/%s/labels/traefik.port" $stack_name $service_name)}}
              {{- else -}}
              80
              {{- end}}"
      weight = 0
            {{- end -}}
          {{- end -}}
        {{- else -}}
        {{- if eq $service_kind "externalService" -}}
          {{- range $i2, $external_ip := ls (printf "/stacks/%s/services/%s/external_ips" $stack_name $service_name) }}
    [backends.{{$service_name}}__{{$stack_name}}.servers.{{$stack_name}}_{{$service_name}}_external_ip_{{$external_ip}}]
      url = "http://{{getv (printf "/stacks/%s/services/%s/external_ips/%s" $stack_name $service_name $external_ip) -}}:
            {{- if exists (printf "/stacks/%s/services/%s/labels/traefik.port" $stack_name $service_name) -}}
            {{getv (printf "/stacks/%s/services/%s/labels/traefik.port" $stack_name $service_name)}}
            {{- else -}}
            80
            {{- end}}"
      weight = 0
          {{- end -}}
        {{- end -}}
        {{- end -}}
      {{- else -}}
      {{- if eq $traefik_enable "stack"}}
  [backends.{{$stack_name}}]
    [backends.{{$stack_name}}.circuitbreaker]
      expression = "NetworkErrorRatio() > 0.5"
    [backends.{{$stack_name}}.LoadBalancer]
      method = "drr"
        {{- $service_kind := getv (printf "/stacks/%s/services/%s/kind" $stack_name $service_name) -}}
        {{- if eq $service_kind "service" -}}
          {{- range $i2, $container := ls (printf "/stacks/%s/services/%s/containers" $stack_name $service_name) -}}
            {{- $back_status := getv (printf "/stacks/%s/services/%s/containers/%s/health_state" $stack_name $service_name $container) -}}
            {{- if eq $back_status "healthy"}}
    [backends.{{$stack_name}}.servers.{{getv (printf "/stacks/%s/services/%s/containers/%s/name" $stack_name $service_name $container)}}]
      url = "http://{{getv (printf "/stacks/%s/services/%s/containers/%s/primary_ip" $stack_name $service_name $container) -}}:
              {{- if exists (printf "/stacks/%s/services/%s/labels/traefik.port" $stack_name $service_name) -}}
              {{getv (printf "/stacks/%s/services/%s/labels/traefik.port" $stack_name $service_name)}}
              {{- else -}}
              80
              {{- end}}"
      weight = 0
            {{- end -}}
          {{- end -}}
        {{- else -}}
        {{- if eq $service_kind "externalService" -}}
          {{- range $i2, $external_ip := ls (printf "/stacks/%s/services/%s/external_ips" $stack_name $service_name) }}
    [backends.{{$stack_name}}.servers.{{$stack_name}}_{{$service_name}}_external_ip_{{$external_ip}}]
      url = "http://{{getv (printf "/stacks/%s/services/%s/external_ips/%s" $stack_name $service_name $external_ip) -}}:
            {{- if exists (printf "/stacks/%s/services/%s/labels/traefik.port" $stack_name $service_name) -}}
            {{getv (printf "/stacks/%s/services/%s/labels/traefik.port" $stack_name $service_name)}}
            {{- else -}}
            80
            {{- end}}"
      weight = 0
          {{- end -}}
        {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end}}
[frontends]
{{- range $s, $stack_name := ls "/stacks" -}}
  {{- range $i, $service_name := ls (printf "/stacks/%s/services" $stack_name) -}}
    {{- if exists (printf "/stacks/%s/services/%s/labels/traefik.enable" $stack_name $service_name) -}}
      {{- $traefik_enable := getv (printf "/stacks/%s/services/%s/labels/traefik.enable" $stack_name $service_name) -}}
      {{- if eq $traefik_enable "true"}}
  [frontends.{{$service_name}}__{{$stack_name}}]
    backend = "{{$service_name}}__{{$stack_name}}"
    passHostHeader = true
    [frontends.{{$service_name}}__{{$stack_name}}.routes.service]
      rule = "Host:
        {{- if exists (printf "/stacks/%s/services/%s/labels/traefik.domain" $stack_name $service_name) -}}
          {{- $domains := replace (getv (printf "/stacks/%s/services/%s/labels/traefik.domain" $stack_name $service_name)) " " "" -1 -}}
          {{- $domain := split $domains ","}}
          {{- range $i, $v := $domain -}}
            {{- if $i -}},{{- end -}}
            {{- toLower $service_name -}}.{{- toLower $stack_name -}}.{{- $v -}}
          {{- end -}}
        {{- else -}}
          {{- toLower $service_name -}}.{{- toLower $stack_name -}}
        {{- end}}"
      {{- else -}}
      {{- if eq $traefik_enable "stack"}}
  [frontends.{{$stack_name}}]
    backend = "{{$stack_name}}"
    passHostHeader = true
    [frontends.{{$stack_name}}.routes.service]
      rule = "Host:
        {{- if exists (printf "/stacks/%s/services/%s/labels/traefik.domain" $stack_name $service_name) -}}
          {{- $domains := replace (getv (printf "/stacks/%s/services/%s/labels/traefik.domain" $stack_name $service_name)) " " "" -1 -}}
          {{- $domain := split $domains ","}}
          {{- range $i, $v := $domain -}}
            {{- if $i -}},{{- end -}}
            {{- toLower $stack_name -}}.{{- $v -}}
          {{- end -}}
        {{- else -}}
          {{- toLower $stack_name -}}
        {{- end}}"
      {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end}}
{{- range $s, $stack_name := ls "/stacks" -}}
  {{- range $i, $service_name := ls (printf "/stacks/%s/services" $stack_name) -}}
    {{- if exists (printf "/stacks/%s/services/%s/labels/traefik.acme" $stack_name $service_name) -}}
      {{- $traefik_acme := getv (printf "/stacks/%s/services/%s/labels/traefik.acme" $stack_name $service_name) -}}
      {{- if eq $traefik_acme "true" -}}
        {{- if exists (printf "/stacks/%s/services/%s/labels/traefik.enable" $stack_name $service_name) -}}
          {{- $traefik_enable := getv (printf "/stacks/%s/services/%s/labels/traefik.enable" $stack_name $service_name) -}}
          {{- if eq $traefik_enable "true"}}
            {{- if exists (printf "/stacks/%s/services/%s/labels/traefik.domain" $stack_name $service_name) -}}
              {{- $domains := replace (getv (printf "/stacks/%s/services/%s/labels/traefik.domain" $stack_name $service_name)) " " "" -1 -}}
              {{- $domain := split $domains ","}}
              {{- range $i, $v := $domain}}
[[acme.domains]]
  main = "{{toLower $stack_name}}.{{$v}}"
  sans = ["
                {{- if $i -}},{{- end -}}
                {{- toLower $service_name -}}.{{- toLower $stack_name -}}.{{- $v -}}"
              {{- end}}]
            {{- end -}}
          {{- else -}}
          {{- if eq $traefik_enable "stack"}}
            {{- if exists (printf "/stacks/%s/services/%s/labels/traefik.domain" $stack_name $service_name) -}}
              {{- $domains := replace (getv (printf "/stacks/%s/services/%s/labels/traefik.domain" $stack_name $service_name)) " " "" -1 -}}
              {{- $domain := split $domains ","}}
              {{- range $i, $v := $domain}}
[[acme.domains]]
  main = "{{toLower $stack_name}}.{{$v}}"
  sans = ["
                {{- if $i -}},{{- end -}}
                {{- toLower $stack_name -}}.{{- $v -}}"
              {{- end}}]
            {{- end -}}
          {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end}}
