{{- $traefik_crt := getv "/traefik/ssl_crt" -}}
{{- if le ( len $traefik_crt) 1 -}}
-----BEGIN CERTIFICATE-----
MIIFpzCCA4+gAwIBAgIJAMLzkyNyXM/VMA0GCSqGSIb3DQEBCwUAMGoxCzAJBgNV
BAYTAkVTMQ8wDQYDVQQIDAZNYWRyaWQxDzANBgNVBAcMBk1hZHJpZDEVMBMGA1UE
CgwMVHJhZWZpay10ZXN0MRAwDgYDVQQLDAdUZXN0aW5nMRAwDgYDVQQDDAcqLmxv
Y2FsMB4XDTE2MDYwNzEwMjMzOFoXDTIxMDYwNzEwMjMzOFowajELMAkGA1UEBhMC
RVMxDzANBgNVBAgMBk1hZHJpZDEPMA0GA1UEBwwGTWFkcmlkMRUwEwYDVQQKDAxU
cmFlZmlrLXRlc3QxEDAOBgNVBAsMB1Rlc3RpbmcxEDAOBgNVBAMMByoubG9jYWww
ggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDJKQhm+Cy+JLz85eUaYe6t
w2Qpl5YyH5zDPcpnFuBsWmqkG6MEw8vzQu3z85sp9VnNpzwkKVARuZCIY5nC4Jt2
bNVLxuY6VxpbF07ZVge4tb8675ZUga81O2km++iq3GKpYSyHYXOtivGmqOiqHAXH
k32CmsCP6LjwB2BSHKiQjwCaulHoHbieiN8+v5x7OyqI+gL6zFApLN9P+SLfeVr8
UDK1QlJnrf382eQBXtoEuBzvSnqAK1lodX44wE3qN608DafwulO3OyBY6n0JS/86
SX4KbPUZt07Ef0g0a17wXuUhWWZdcC+e/KNk0wo9k/dDb8wvqhU1K18A1M0ap8LM
Ii1V8rK5d93q2mSe+1qhinrmwuE6/ELDWVz4ggTybwxCIXnYYt85myvgW2HLyGDx
bAl6AG6RbV2KTxEgVLQslH2qxfiaCxLomwXjUpzmjVLkd1otPg++rnRIDFIwcUcb
vqkA0lYRoqshUwrP8Atzryux+wJzNDNPFWKgbECfploD60/sxbijvVm8LGI2z8x2
UK+gHMxz1zvG8zKbjwJRXhL5vTx+aKxHh4v4a89i5dR6GFFAU4OMJ/M9/05/Tyez
anX2dUdH+0/1PGnxq2cKxsNSM3t57GCeRQiJXK4RZw3JG0NEml7K3R/Q5WewdHYn
bYMi7/c3cg95QlGMYvaebQIDAQABo1AwTjAdBgNVHQ4EFgQUzzBk0Sf/aGcO1z/H
qf5YmlCVYI8wHwYDVR0jBBgwFoAUzzBk0Sf/aGcO1z/Hqf5YmlCVYI8wDAYDVR0T
BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAc6B5m9WWCHXPXOJNRnUuxC63ETNS
Ir/IbkMV8TYaovUr0tlf5TIPFCQ7eqNJcTb2aAQO3w+F0Wddc5i1WSbkCUV75x7L
iHmktwO81XS9XZlkpo4+O2IU8oKhwF70bPn/wM5Kyb0aykJAdDSpwRagcYn7Vdk7
U/C4MiEaXlnvc9CTNWT+NoI4IEaKntimqS+k193Yxo9fOqmo2v0eiuAeOy9PJvLo
qBBh9Tz7yuUdOLbUWsqXaFL2VBecKehorS/zrh8CbNuIG/9HEjVWOFAONoqWX7Qz
77QSVJVhgxk+N/agY9v0ov66W0vEyhHndvdHQg70feyVL8L9g82Uis3a2wA/82Zp
nxRNoVddro0wQDMWEf5sGHZXoG+aY/CsWT35A5NHdMaVirPDvE38GhxBwDmk8uo1
NaswgbCwZHU30vvLPvHumfUFYWurPtkrZ2gqSqxewwgXOo9m14FxQhE9U7ax5ZSY
ji6JqNHQk8F1scCn9L0iX7yDcCFPRvzvB2mOGRGdVWrk6dx3XR0jpLOyEausM07a
rsdpTYCWNsbLafsTGbIWc/ddhb9SN+fnWLDpNSXKN9IU5tzUuA60ZP4lfPun26L8
7l4ZF1JEN6lui55Z0Vfo0vB7oGVT64SLiigbTDl1LrrusqOpPXOPzvNEfUQ5Zhhi
x8NPFRMB44AWyLI=
-----END CERTIFICATE-----
{{- else -}}
  {{$traefik_crt}}
{{- end -}}
